/* FONTS */
@font-face {
  font-family: "Barlow";
  src: url("Barlow-Bold.woff2") format("woff2"),
    url("Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("Barlow-Medium.woff2") format("woff2"),
    url("Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("Barlow-SemiBold.woff2") format("woff2"),
    url("Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("Barlow-Regular.woff2") format("woff2"),
    url("Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("Fraunces-Black.woff2") format("woff2"),
    url("Fraunces-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* GENERALS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fraunces", sans-serif;
}

img {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.collection-container {
  width: 1151px;
  margin: 0 auto;
  padding: 0 20px;
}

.services-bottom-container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.works-list-container {
  width: 1085px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
.site-header {
  padding: 45px 0;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: block;
  width: 236px;
  height: 26px;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item + .nav-item {
  margin-left: 33px;
}

.nav-link {
  font-family: Barlow;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  text-decoration: none;
}

.nav-link:hover {
  color: #333d4b;
}

.nav-link:active {
  opacity: 0.6;
}

/* GREAT */
.great {
  padding-bottom: 136px;
}

.great-wrapper {
  padding: 117px 702px 116px 86px;
  background-image: url("../img/Bitmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.great-wrap {
  width: 493px;
}

.great-header {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.great-desc {
  margin: 0;
  margin-bottom: 56px;
  width: 440px;
  font-family: Barlow;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: rgba(254, 252, 247, 0.8);
  mix-blend-mode: normal;
}

.great-link-button {
  display: inline-block;
  padding: 15px 31px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #fefcf7;
  text-decoration: none;
  background: #0e8784;
  border-radius: 6px;
}

.great-link-button:hover {
  color: #fefcf7;
  background: #66d2cf;
}

.great-link-button:active {
  background: #e2dedb;
}

/* COLLECTION */
.collection {
  padding-bottom: 200px;
}

.collection-box {
  padding-top: 126px;
  background-image: url("../img/collection-bgr-img.svg");
  background-repeat: no-repeat;
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
  list-style: none;
}

.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 255px;
}

.collection-img {
  margin-bottom: 71px;
  width: 255px;
  height: 193px;
}

.collection-header {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}

.collection-desc {
  margin: 0;
  font-family: Barlow;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
}

/* SERVICES */
.services {
  padding-bottom: 351px;
}

.services-box {
  padding-bottom: 317px;
  background: #2c343e;
  border-radius: 10px;
}

.services-header {
  margin: 0;
  margin-bottom: 32px;
  padding-top: 100px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}

.services-desc {
  width: 540px;
  margin: 0 auto;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  opacity: 0.8;
}

.services-bottom-box {
  position: relative;
}

.serices-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 86px;
  margin: -15px;
  padding: 0;
  list-style: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 72px 48px 48px 48px;
  width: 350px;
  background: #0e8784;
  border-radius: 8px;
}

.services-item:nth-child(3) {
  padding: 83px 48px 48px 48px;
}

.services-item-img {
  width: 72px;
  height: 72px;
  margin-bottom: 56px;
}

.services-item-img_activ {
  width: 72px;
  height: 50px;
  margin-bottom: 67px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}

.services-item-desc {
  margin: 0;
  font-family: Barlow;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
}

/* WORKS */
.works {
  padding-bottom: 189px;
}

.works-header {
  position: relative;
  margin: 0;
  margin-bottom: 80px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.works-line-box {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 67px;
}

.works-line-box::before {
  content: "";
  position: absolute;
  left: 1.5%;
  width: 760px;
  height: 2px;
  border: 2px solid #fdd6ba;
}

.oval {
  display: inline-block;
  z-index: 2;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #fefcf7;
  border: 2px solid #0e8784;
}

.oval + .oval {
  margin-left: 349px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin: -47px;
  margin-bottom: 64px;
  padding: 0;
  list-style: none;
}

.works-item {
  width: 285px;
  margin: 47px;
  margin-bottom: 0px;
}

.works-item-img {
  margin-bottom: 38px;
}

.works-item-header {
  margin: 0;
  margin-bottom: 42px;
  width: 255px;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}

.works-item-desc {
  margin: 0;
  font-family: Barlow;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

/* FOOTER */
.sitefooter {
  padding-bottom: 85px;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 85px;
  background: #2c343e;
}

.footer-box-left {
  display: flex;
  align-items: center;
}

.footer-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 103px;
  list-style: none;
}

.footer-item + .footer-item {
  margin-left: 33px;
}

.footer-link {
  font-family: Barlow;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;
  color: #83888f;
}

.footer-link:hover {
  color: #fefcf7;
}

.footer-link:active {
  opacity: 0.6;
}

.footer-icon-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-icon-item + .footer-icon-item {
  margin-left: 24px;
}

.footer-icon-link {
  text-decoration: none;
}

.footer-icon-link:hover {
  opacity: 0.8;
}

.footer-icon-link:active {
  opacity: 0.6;
}

/* ABOUT US STYLE*/
.about {
  padding-bottom: 169px;
}

.about-wrapper {
  padding: 137px 750px 137px 85px;
  background-image: url("../img/about-us-img/about-header-img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.about-wrap {
  width: 445px;
}

.about-wrap-header {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}

.about-wrap-desc {
  margin: 0;
  font-family: Barlow;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}

/* COMMITMENT */
.commit-box {
  display: flex;
  align-items: center;
}

.commit-left-img {
  width: 445px;
  height: 520px;
  border-radius: 8px;
}

.commit-right {
  width: 540px;
  margin-left: 125px;
}

.commit-right-title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
}

.commit-right-desc {
  margin: 0;
  font-family: Barlow;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: rgba(51, 61, 75, 0.8);
}
