.about {
    padding-bottom: 168px;
    .about-box {
        padding: 137px 0px 137px 85px;
        border-radius: 10px;
        background: url("../img/about-bgr-img.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        .about-box__title {
            margin: 0;
            margin-bottom: 24px;
            font-size: 40px;
            line-height: 48px;
            color: $bone;
        }

        .about-box__text {
            width: 445px;
            font-size: 16px;
            line-height: 26px;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .about-box {
        background-image: url("../../img/about-bgr-img@2x.jpg");
    }
}
