.button {
    padding: 15px 31px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: $bone;
    border: none;
    outline: none;
    background-color: $emarald;
}
