.collection-hero {
    padding-bottom: 200px;
    .collection-hero__box {
        padding-top: 126px;
        background-image: url("../../img/collection-bgr-img.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
    }

    .colliction-hero__list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 126px;
        margin: 0;
        padding: 0;
        list-style: none;
        margin: -15px;
    }

    .collection-hero__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 255px;
        margin: 15px;
    }

    .collection-hero__img {
        width: 255px;
        height: 193px;
        margin-bottom: 71px;
    }

    .collecttion-hero__title {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
        color: $darkgre;
    }

    .collecttion-hero__text {
        font-size: 16px;
        line-height: 26px;
        color: $darkgre;
        text-align: center;
    }
}
