.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-collection {
    max-width: 1151px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-head {
    max-width: 1085px;
    margin: 0 auto;
    padding: 0 20px;
}
