.site-header {
    .site-header__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 43px 0;
    }

    .site-header__logo--link {
        display: block;
        width: 236px;
        height: 26px;
        transition: 0.5s;
    }

    .site-header__logo--link:hover {
        opacity: 0.9;
    }

    .site-header__logo--link:active {
        opacity: 0.8;
    }
}

@media screen and (max-width: 768px) {
}
